@charset "UTF-8";

section
{
    height: 100%;

    & > :only-child
    {
        // overflow: hidden scroll;
        padding: 20px;

        height: 100%;
    }

    header
    {
        height: 10%;

        & > :only-child
        {
            align-items: center;
            display: flex;
            justify-content: space-between;

            height: 100%;
        }
    }

    header button
    {
        background: var(--eggplant);
        border: medium solid var(--raisin_black_primary);
        border-radius: 50%;

        color: var(--pale_dogwood);

        padding: 7px;

        &:hover
        {
            background: var(--raisin_black_primary);
            border-color: var(--eggplant);
        }
    }

    menu
    {
        display: grid;
        grid: auto / repeat(4, 1fr);
        gap: 10px;

        margin-top: 20px;

        button
        {
            background: var(--dark_purple);
            border: 5px double var(--pale_dogwood);
            border-radius: 10px;

            cursor: pointer;

            align-items: center;
            display: flex;
            flex-flow: column nowrap;
            gap: 15px;

            outline: none;
            padding: 20px 0;

            height: 100%;
            width: 100%;

            & > [class]
            {
                background: var(--english_violet_secondary);
                border-radius: 50%;

                color: var(--chamoisee);

                padding: 7px;
            }

            & > :not([class])
            {
                color: white;

                font: normal .85rem sans-serif;
            }
        }
    }
}