<section id="users">
  <div>
    <header>
      <div>
        <h2>Users registered</h2>

        <button type="button" title="Add a new user" class="material-icons md-24">
          add_circle
        </button>
      </div>
    </header>

    <menu>
      {% for id, user in users %}
        <li id="{{ id|e }}">
          <button type="button" title="User">
            <span class="material-icons md-48">person</span>

            <span>{{ user.getName()|e }}</span>
          </button>
        </li>
      {% endfor %}
    </menu>
  </div>
</section>