<dialog id="cd">
  <div>
    <header>
      <div>
        <h3>New Color</h3>

        <button type="button" title="Close" class="material-icons md-18">
          close
        </button>
      </div>
    </header>

    <form id="cf" action="./" method="dialog" spellcheck="true" autocomplete="off">
      <div>
        <fieldset>
          <legend>New Color</legend>

          <label title="Only characters between A-Z and/or a-z">
            <span>Color's name</span>

            <input type="text" name="name" maxlength="100" pattern="([A-Za-z])+" placeholder="Enter the name..." autofocus required>
          </label>

          <label title="">
            <span>Tone</span>

            <input type="color" name="hexcode" required>
          </label>
        </fieldset>
      </div>
    </form>

    <footer>
      <div>
        <menu>
          <li><button form="cf" type="reset" title="Clear data">Clear</button></li>
          <li><button form="cf" type="submit" title="Submit data">Submit</button></li>
        </menu>
      </div>
    </footer>
  </div>
</dialog>