@charset "UTF-8";

.display
{
    display: flex;
    flex-direction: row;
}

header
{

    & > div:extend(.display)
    {
        background: #48374D;
        box-shadow: 0 1px 10px 7px #181220;

        align-items: center;
        justify-content: space-between;

        height: 15vh;
        width: 100%;

        & > div
        {
            margin: 3%;
            padding: 5px;
        }
    }

    nav div:extend(.display)
    {
        justify-content: space-evenly;
        width: 300px;
    }

    a
    {
        border-radius: 3px;

        color: white;

        font-size: large;

        letter-spacing: 2px;

        padding: 10px 15px;

        transition: background-color .7s;

        &:hover
        {
            background: #181220;

            outline: 2px inset #C0A297;
        }
    }
}

#special
{
    background: #181220;
    border-radius: 20px;

    outline-offset: 3px;
    outline-width: 3px;

    &:hover
    {
        background: #48374D;
        outline-color: #181220;
    }
}