<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Cassiano Castro">
  <meta name="description" content="Application for Test.">
  <meta name="keywords" content="Test, PHP, CSS, MVC">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://cdn.jsdelivr.net">

  <link rel="preload" as="style" type="text/css" href="https://fonts.googleapis.com/css2?family=Allura&display=swap">
  <link rel="preload" as="style" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="preload" as="script" type="text/javascript" href="https://cdn.jsdelivr.net/npm/less@4">

  <link rel="stylesheet/less" type="text/css" href="public/templates/home/index.less">

  <title>Test | Home</title>
</head>
<body>
  {% include('noscript/index.inc') %}

  {% include('header/index.inc') %}

  <main>
    <div>
      {% include('home/.includes/users/index.twig') %}

      {% include('home/.includes/users-context/index.twig') %}

      {% include('home/.includes/users-dialog/index.twig') %}

      {% include('home/.includes/colors/index.twig') %}

      {% include('home/.includes/colors-context/index.twig') %}

      {% include('home/.includes/colors-dialog/index.twig') %}
    </div>
  </main>

  {% include('footer/index.inc') %}

  <script defer type="module" src="https://cdn.jsdelivr.net/npm/less@4"></script>
  <script defer type="module" src="public/templates/home/index.js"></script>
</body>
</html>