@charset "UTF-8";

body > header
{
    height: 10vh;

    & > :only-child
    {
        background: #48374D;

        align-items: center;
        display: flex;

        padding: 0 3%;

        height: 100%;
    }

    a
    {
        background: #181220;
        border-radius: 20px;

        color: white;

        font: bold .9rem sans-serif;
        letter-spacing: 2px;

        outline: medium solid transparent;
        outline-offset: 0;
        padding: 10px 15px;

        transition: all .3s linear;

        &:hover
        {
            background: transparent;
            outline-color: #181220;
            outline-offset: 3px;
        }
    }
}