@charset "UTF-8";

body > header
{
    height: 10vh;

    & > :only-child
    {
        background: #48374D;

        align-items: center;
        display: flex;

        padding: 0 3%;

        height: 100%;
    }

    & nav ul
    {
        align-items: center;
        display: flex;
        gap: 20px;
    }

    & a
    {
        border-radius: 3px;

        color: white;

        letter-spacing: 2px;

        padding: 7px 13px;

        transition: background-color .7s;

        &:hover
        {
            background: #181220;

            outline: 2px inset #C0A297;
        }
    }
}

#special
{
    background: #181220;
    border-radius: 20px;

    outline: medium solid transparent;
    outline-offset: 3px;

    &:hover
    {
        background: transparent;
        outline-color: #181220;
    }
}