@charset "UTF-8";

#colors
{
    height: 100%;

    & > :only-child
    {
        height: 100%;
    }

    header
    {
        height: 10%;

        & > :only-child
        {
            align-items: center;
            display: flex;
            justify-content: space-between;

            padding: 0 20px;

            height: 100%;
        }

        button
        {
            background: var(--eggplant);
            border: medium solid var(--raisin_black_primary);
            border-radius: 50%;

            color: var(--pale_dogwood);

            padding: 7px;

            &:hover
            {
                background: var(--raisin_black_primary);
                border-color: var(--eggplant);
            }
        }
    }

    nav
    {
        height: 90%;

        & > :only-child
        {
            direction: rtl;

            overflow: hidden scroll;
            padding: 20px;

            height: 100%;
        }

        ul
        {
            direction: ltr;

            display: grid;
            grid: auto / repeat(4, 1fr);
            gap: 10px;
        }

        .color
        {
            background: white;
            border-radius: 5px;
            box-shadow: 0 0 5px var(--raisin_black_secondary);

            align-items: center;
            display: flex;
            flex-flow: column nowrap;
            gap: 10px;

            padding: 20px 0 10px;

            & > :first-child
            {
                border-radius: 50%;

                outline: medium inset var(--chamoisee);
                outline-offset: 2px;

                height: 60px;
                width: 60px;
            }

            & > :nth-child(2)
            {
                color: var(--raisin_black_primary);
                font: bold .9rem sans-serif;
            }

            & > :last-child
            {
                color: var(--english_violet_secondary);
                font: bold normal .85rem sans-serif;

                text-transform: uppercase;
            }
        }
    }
}