<section id="colors">
  <div>
    <header>
      <div>
        <h2>Colors registered</h2>

        <button type="button" title="Add a new color" class="material-icons md-24">
          add_circle
        </button>
      </div>
    </header>

    <nav>
      <div>
        <ul>
          {% for id, color in colors %}
            <li>
              <div id="{{ id|e }}" class="color">
                <span style="background: {{ color.getHexCode()|e }}"></span>

                <span>{{ color.getName()|e }}</span>

                <span>{{ color.getHexCode()|e }}</span>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</section>