@charset "UTF-8";

@import "./includes/reset.css";
@import "./includes/globals.css";
@import "./includes/header.css";
@import "./includes/footer.css";

main > div, section > div
{
    min-height: 500px;
}

section > div
{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

p {
    color: #48374D;

    font-size: 50px;
    font-weight: bold;
    font-style: italic;

    text-shadow: 2px 2px 1px #181220
}