@charset "UTF-8";

main
{
    height: 80vh;

    & > :only-child
    {
        align-items: center;
        display: flex;
        gap: 0 5%;

        height: 100%;

        & > :first-child
        {
            flex: 45%;
        }

        & > :last-child
        {
            flex: 45%;
        }
    }
}