@charset "UTF-8";

@path: "./includes";

@import (css) "../reset.css";
@import "@{path}/globals.less";
@import "@{path}/header.less";

main
{

    div
    {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    ul
    {
        display: flex;
        justify-content: space-evenly;
    }

    a
    {
        background: #48374D;
        border: medium solid #181220;
        border-radius: 40px;

        color: white;

        letter-spacing: 3px;

        margin: 30px;
        padding: 15px 30px;

        transition: padding .8s;

        &:hover
        {
            background: #AB8476;
            padding: 25px 40px;
        }
    }
}

@import "@{path}/footer.less";