@charset "UTF-8";

@import (css) "./includes/reset.css";
@import "./includes/globals.less";
@import "./includes/header.less";
@import "./includes/footer.less";

section > div
{
    justify-content: space-evenly;
    min-height: 500px;
}

p
{
    color: #48374D;

    font-weight: bold italic 50px sans-serif;

    text-shadow: 2px 2px 1px #181220;
}