@charset "UTF-8";

footer > div
{
    background: #181220;

    color: white;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: static;
    bottom: 0;

    height: 80px;
    width: 100%;
}

footer span
{
    margin: 5%;
}

footer a
{
    color: white;

    text-decoration: none;
}

#author
{
    font: italic 30px "Allura", cursive;
}

footer span:nth-child(3)
{
    background: #C0A297;
    border-radius: 3px;

    color: #181220;

    padding: 10px;
}